#mainForm{
height:70%;
display: flex;
flex-direction: column;
justify-content: center;
}
.col-md-2{
  line-height: 200%;
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  align-items: center;
  font-family:sans-serif;
  font-size:15px;
}
.jumbotron{
  height: 400px;
  width: 100%;
  font-style:italic;
  font-size: 7px;
  background-color: #DDA0DD;
}
.landing{
background-image: url("../images/cute.jpg");
background-repeat: no-repeat;
background-size: cover;
}

.landing{
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #00008B;
  font-style: italic;
}
.row{
  background-image: url("../images/akan.jpg");
  color:#daa520
}
